<!DOCTYPE html>
<html lang="fr">
    <head>
        <% include ./components/head.ejs %>
        <title>Accueil</title>
    </head>
    <body>
        <header>
            <h1>Accueil</h1>
            <!-- 
                To check if user is connected, try this:
                dans le fichier texte code commenté bugué
            -->
            <nav>
                <!-- Il reste encore un commentaire dans nav.ejs -->
                <% include ./components/nav.ejs %>
            </nav>
        </header>

        <main>
            <h2>Liste des utilisateurs</h2>           
            <ul>
                <% for(let item of userCollection){ %>
                <li><%= item.name %></li>
                <% }%>
            </ul>
        </main>
    </body>
</html>