<!DOCTYPE html>
<html lang="fr">
    <head>
        <% include ./components/head.ejs %>
        <title>Connexion</title>
    </head>
    <body>
        <header>
            <h1>Connexion</h1>
            <nav>
                <% include ./components/nav.ejs %>
            </nav>
        </header>
        <main>
                <% include ./components/form-connection.ejs %>
        </main>
    </body>
</html>