<!DOCTYPE html>
<html lang="fr">
    <head>
        <% include ./components/head.ejs %>
        <title>Mon compte</title>
    </head>
    <body>
        <header>
            <h1>Mon compte</h1>
            <nav>
                <% include ./components/nav.ejs %>
            </nav>
        </header>
        <main>
        </main>
    </body>
</html>