<ul>
    <li><a href="/">Accueil</a></li>
    <!-- 
        You need to check if the user is connected to display 
        or not those links
        - https://gist.github.com/DWS-paris/30ccb1df09b0acaa2ca9f587af7be952
    -->
    <% if (connectedUser == false) { %>
            <li><a href="/login">Connexion</a></li>
    <% }
        else if (connectedUser == true) { %>
            <li><a href="/me">Mon compte</a></li>
    <% } %>
</ul>